@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", "Arial", sans-serif;
}

body {
    background-color: #F0F0F0;
}

/*******************
HEADER
********************/

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 2.3vh;

    background-color: #FFF;
}

header .menu-lateral {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.menu-lateral button[onclick="trocarDisplay()"] {
    display: flex; 
    flex-direction: column;
    background-color: transparent;

    cursor: pointer;
    border: none;
}

.menu-lateral canvas {
    width: 30px;
    height: 5px;
    margin: 2px;

    background-color: #0f0f0f;
    border-radius: 10px;
}

.menu-lateral nav {
    background-color: white;
    position: absolute;
    left: 0;
    top: 9vh;
}

#lateral-list {
    display: none;
}

.links li {
    padding: 25px;
    border-bottom: solid 1px black;
}

.links a {
    display: flex;
    align-items: center;
    margin-right: 20px;

    font-size: 40;
    font-weight: 50;
    text-decoration: none;
    color: black;
}

.links a > img {
    margin-right: 10px;
}

.menu-lateral a {
    margin: 0px 0px -3px 10px;
}

.container-header form{
    display: flex;
    flex-direction: row;
}

.container-header form[method="get"] > input{
    width: 35vw;
    padding: 5px;
    border-right: none;
}

.container-header form > button{
    cursor: pointer;
}

.container-header form > button img{
    width: 17px;
}

.header-left img {
    width: 30px;
    margin: 0 0.6em;
}

.header-left a img{
    height: 30px;
    border-radius: 50px;
}

/*******************
MAIN
********************/

#container {
    display: flex;
    flex-direction: row;

    margin: 3em;
}

.video > iframe {
    width: 70vw;
    height: 70vh;

    border-radius: 15px;
}

.about h1{
    font-size: 22px;
}

.about-video {
    display: flex;
    align-items: center;
}

.about-video img {
    margin: 0 70px 0 0 ;
}

.about-video img + button {
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 10px;
}

.about-video button {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 30px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.about-video button img {
    width: 20px;
    margin-right: 5px;
}

.description {
    width: 60em;
}

.description p{
    font-weight: lighter;
    font-size: large;
}

.list-videos {
    margin-left: 30px;
}

.list-videos img {
    margin-bottom: 10px;
    cursor: pointer;
}

.grid-container {
    display: grid;

    grid-template-columns: auto auto auto auto;
    padding: 50px;
}

.grid-container img {
}