@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", "Arial", sans-serif;
}

body {
    background-color: #F0F0F0;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background-color: #FFF;
}

header .menu-lateral {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.menu-lateral button {
    display: flex;
    flex-direction: column;
    background-color: transparent;

    cursor: pointer;
    border: none;
}

.menu-lateral canvas {
    width: 30px;
    height: 5px;
    margin: 2px;

    background-color: #0f0f0f;
    border-radius: 10px;
}

.menu-lateral nav {
    background-color: white;
    position: absolute;
    left: 0;
    top: 72px;
    height: 100%;
}

#lateral-list {
    display: none;
}

.links li {
    padding: 25px;
    border-bottom: solid 1px black;
}

.links a {
margin-right: 20px;

    font-size: 40;
    font-weight: 50;
    text-decoration: none;
    color:  black;
    
}

.menu-lateral a {
    margin: 0px 0px -3px 10px;
}

.container-header form {
    display: flex;
    flex-direction: row;
}

.container-header form > input{
    width: 30em;
    padding: 5px;
    border-right: none;
}

.container-header form > button{
    cursor: pointer;
}

.container-header form > button img{
    width: 17px;
}

.header-left img {
    width: 30px;
    margin: 0 0.6em;
}

.header-left a > img{
    height: 30px;
    border-radius: 50px;
}

#container {
    display: flex;
    flex-direction: row;

    margin: 3em;
}

#container .video {
    border: solid red 1px;
}

#container .video > iframe {
    width: 65vw;
    height: 65vh;
}

#container .about h1{
    font-size: 22px;
}

.about-video {
    display: flex;
    align-items: center;
}

.about-video > img {
    margin: 0 10px 0 0 ;
}

.about-video .inscreva-se {
    background-color: red;
    color: white;
    padding: 7px;
    margin: 0 10px 0 0;
}